## Some warmup with pandas

Step 1: Import the necessary libraries

In [1]:
import pandas as pd

Step 2: Import the tips dataset

In [8]:
tips_data = pd.read_csv('tips.csv', index_col = 0)

Step 3: View the first 10 lines of your data and then the last 5 lines of your data. Don't use indexing, use the correct methods for this!

In [9]:
tips_data.head(10)

   Unnamed: 0.1  total_bill   tip     sex smoker  day    time  size
0             0       16.99  1.01  Female     No  Sun  Dinner     2
1             1       10.34  1.66    Male     No  Sun  Dinner     3
2             2       21.01  3.50    Male     No  Sun  Dinner     3
3             3       23.68  3.31    Male     No  Sun  Dinner     2
4             4       24.59  3.61  Female     No  Sun  Dinner     4
5             5       25.29  4.71    Male     No  Sun  Dinner     4
6             6        8.77  2.00    Male     No  Sun  Dinner     2
7             7       26.88  3.12    Male     No  Sun  Dinner     4
8             8       15.04  1.96    Male     No  Sun  Dinner     2
9             9       14.78  3.23    Male     No  Sun  Dinner     2

In [10]:
tips_data.tail()

     Unnamed: 0.1  total_bill   tip     sex smoker   day    time  size
239           239       29.03  5.92    Male     No   Sat  Dinner     3
240           240       27.18  2.00  Female    Yes   Sat  Dinner     2
241           241       22.67  2.00    Male    Yes   Sat  Dinner     2
242           242       17.82  1.75    Male     No   Sat  Dinner     2
243           243       18.78  3.00  Female     No  Thur  Dinner     2

Step 4: Print out the total bill column.

In [13]:
tips_data['total_bill']

0      16.99
1      10.34
2      21.01
3      23.68
4      24.59
       ...
239    29.03
240    27.18
241    22.67
242    17.82
243    18.78
Name: total_bill, Length: 244, dtype: float64

Step 5: Find a segment of the data where the total bill was greater than 40 and the sex is female. Print this out.

In [34]:
tips_data[(tips_data.total_bill > 40) & (tips_data.sex == 'Female')]

     Unnamed: 0.1  total_bill  tip     sex smoker   day    time  size
102           102       44.30  2.5  Female    Yes   Sat  Dinner     3
197           197       43.11  5.0  Female    Yes  Thur   Lunch     4

In [35]:
tips_data[(tips_data['total_bill'] > 40) & (tips_data['sex']=="Female")]

     Unnamed: 0.1  total_bill  tip     sex smoker   day    time  size
102           102       44.30  2.5  Female    Yes   Sat  Dinner     3
197           197       43.11  5.0  Female    Yes  Thur   Lunch     4

Step 6. Create a new column in your data for the percentage the tip was of the total bill, and name it 'tip_percentage'

In [36]:
tips_data['tips_percentage'] = (tips_data['tip'] / tips_data['total_bill'] * 100)

In [42]:
tips_data.eval('tips_percentage = (tip/total_bill) * 100')

,Unnamed: 0.1,total_bill,tip,sex,smoker,day,time,size,tips_percentage
0,0,16.99,1.01,Female,No,Sun,Dinner,2,5.944673
1,1,10.34,1.66,Male,No,Sun,Dinner,3,16.054159
2,2,21.01,3.50,Male,No,Sun,Dinner,3,16.658734
3,3,23.68,3.31,Male,No,Sun,Dinner,2,13.978041
4,4,24.59,3.61,Female,No,Sun,Dinner,4,14.680765
...,...,...,...,...,...,...,...,...,...
239,239,29.03,5.92,Male,No,Sat,Dinner,3,20.392697
240,240,27.18,2.00,Female,Yes,Sat,Dinner,2,7.358352
241,241,22.67,2.00,Male,Yes,Sat,Dinner,2,8.822232
242,242,17.82,1.75,Male,No,Sat,Dinner,2,9.820426
243,243,18.78,3.00,Female,No,Thur,Dinner,2,15.974441

Bonus: Can you find a one-liner way to square all the values of the total bill column?

In [45]:
tips_data['total_squared'] = tips_data.apply(lambda x: x.total_bill ** 2, axis = 1)
tips_data['total_squared']

0      288.6601
1      106.9156
2      441.4201
3      560.7424
4      604.6681
         ...
239    842.7409
240    738.7524
241    513.9289
242    317.5524
243    352.6884
Name: total_squared, Length: 244, dtype: float64

In [49]:
tips_data.total_bill = tips_data.total_bill.pow(2)
tips_data

,Unnamed: 0.1,total_bill,tip,sex,smoker,day,time,size,tips_percentage,total_squared
0,0,288.6601,1.01,Female,No,Sun,Dinner,2,5.944673,288.6601
1,1,106.9156,1.66,Male,No,Sun,Dinner,3,16.054159,106.9156
2,2,441.4201,3.50,Male,No,Sun,Dinner,3,16.658734,441.4201
3,3,560.7424,3.31,Male,No,Sun,Dinner,2,13.978041,560.7424
4,4,604.6681,3.61,Female,No,Sun,Dinner,4,14.680765,604.6681
...,...,...,...,...,...,...,...,...,...,...
239,239,842.7409,5.92,Male,No,Sat,Dinner,3,20.392697,842.7409
240,240,738.7524,2.00,Female,Yes,Sat,Dinner,2,7.358352,738.7524
241,241,513.9289,2.00,Male,Yes,Sat,Dinner,2,8.822232,513.9289
242,242,317.5524,1.75,Male,No,Sat,Dinner,2,9.820426,317.5524
243,243,352.6884,3.00,Female,No,Thur,Dinner,2,15.974441,352.6884

### Useful Functions to know and try out
```python
    tips_data.describe()
    tips_data.groupby()
```

In [50]:
tips_data['tips_percentage'].describe()

count    244.000000
mean      16.080258
std        6.107220
min        3.563814
25%       12.912736
50%       15.476977
75%       19.147549
max       71.034483
Name: tips_percentage, dtype: float64

In [51]:
tips_data.describe()

,Unnamed: 0.1,total_bill,tip,size,tips_percentage,total_squared
count,244.000000,244.000000,244.000000,244.000000,244.000000,244.000000
mean,121.500000,470.411657,2.998279,2.569672,16.080258,470.411657
std,70.580923,454.629587,1.383638,0.951100,6.107220,454.629587
min,0.000000,9.424900,1.000000,1.000000,3.563814,9.424900
25%,60.750000,178.157275,2.000000,2.000000,12.912736,178.157275
50%,121.500000,316.662250,2.900000,2.000000,15.476977,316.662250
75%,182.250000,582.143025,3.562500,3.000000,19.147549,582.143025
max,243.000000,2581.656100,10.000000,6.000000,71.034483,2581.656100

In [52]:
tips_grouped_by_sex = tips_data.groupby('sex')

In [56]:
tips_grouped_by_sex

In [54]:
len(tips_grouped_by_sex)

2

In [55]:
for group in tips_grouped_by_sex:
    print(group)

('Female',      Unnamed: 0.1  total_bill   tip     sex smoker   day    time  size  \
0               0    288.6601  1.01  Female     No   Sun  Dinner     2
4               4    604.6681  3.61  Female     No   Sun  Dinner     4
11             11   1243.2676  5.00  Female     No   Sun  Dinner     4
14             14    219.9289  3.02  Female     No   Sun  Dinner     2
16             16    106.7089  1.67  Female     No   Sun  Dinner     3
..            ...         ...   ...     ...    ...   ...     ...   ...
226           226    101.8081  2.00  Female    Yes   Fri   Lunch     2
229           229    489.2944  2.88  Female    Yes   Sat  Dinner     2
238           238   1283.7889  4.67  Female     No   Sat  Dinner     3
240           240    738.7524  2.00  Female    Yes   Sat  Dinner     2
243           243    352.6884  3.00  Female     No  Thur  Dinner     2

     tips_percentage  total_squared
0           5.944673       288.6601
4          14.680765       604.6681
11         14.180374      1243.2676
14         20.364127       219.9289
16         16.166505       106.7089
..               ...            ...
226        19.821606       101.8081
229        13.019892       489.2944
238        13.033771      1283.7889
240         7.358352       738.7524
243        15.974441       352.6884

[87 rows x 10 columns])
('Male',      Unnamed: 0.1  total_bill   tip   sex smoker  day    time  size  \
1               1    106.9156  1.66  Male     No  Sun  Dinner     3
2               2    441.4201  3.50  Male     No  Sun  Dinner     3
3               3    560.7424  3.31  Male     No  Sun  Dinner     2
5               5    639.5841  4.71  Male     No  Sun  Dinner     4
6               6     76.9129  2.00  Male     No  Sun  Dinner     2
..            ...         ...   ...   ...    ...  ...     ...   ...
236           236    158.7600  1.00  Male    Yes  Sat  Dinner     2
237           237   1077.8089  1.17  Male    Yes  Sat  Dinner     2
239           239    842.7409  5.92  Male     No  Sat  Dinner     3
241           241    513.9289  2.00  Male    Yes  Sat  Dinner     2
242           242    317.5524  1.75  Male     No  Sat  Dinner     2

     tips_percentage  total_squared
1          16.054159       106.9156
2          16.658734       441.4201
3          13.978041       560.7424
5          18.623962       639.5841
6          22.805017        76.9129
..               ...            ...
236         7.936508       158.7600
237         3.563814      1077.8089
239        20.392697       842.7409
241         8.822232       513.9289
242         9.820426       317.5524

[157 rows x 10 columns])

In [57]:
tips_grouped_by_sex.get_group('Female')

,Unnamed: 0.1,total_bill,tip,sex,smoker,day,time,size,tips_percentage,total_squared
0,0,288.6601,1.01,Female,No,Sun,Dinner,2,5.944673,288.6601
4,4,604.6681,3.61,Female,No,Sun,Dinner,4,14.680765,604.6681
11,11,1243.2676,5.00,Female,No,Sun,Dinner,4,14.180374,1243.2676
14,14,219.9289,3.02,Female,No,Sun,Dinner,2,20.364127,219.9289
16,16,106.7089,1.67,Female,No,Sun,Dinner,3,16.166505,106.7089
...,...,...,...,...,...,...,...,...,...,...
226,226,101.8081,2.00,Female,Yes,Fri,Lunch,2,19.821606,101.8081
229,229,489.2944,2.88,Female,Yes,Sat,Dinner,2,13.019892,489.2944
238,238,1283.7889,4.67,Female,No,Sat,Dinner,3,13.033771,1283.7889
240,240,738.7524,2.00,Female,Yes,Sat,Dinner,2,7.358352,738.7524
243,243,352.6884,3.00,Female,No,Thur,Dinner,2,15.974441,352.6884